{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}

 <!-- Create Group Form -->
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <h4>Create a New Group</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Group Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="category" id="category" class="form-select" required>
                        <option value="">-- Select Category --</option>
                        <option value="Trip">Trip</option>
                        <option value="Home">Home</option>
                        <option value="Couple">Couple</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

{% endblock %}