{% extends 'tracker/base.html' %}
{% load static %}
{% block title %}Groups Dashboard{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>My Groups</h2>

        <form method="GET" class="d-flex align-items-center">
        <label for="filter" class="me-2 fw-bold">Filter:</label>
        <select name="filter" id="filter" class="form-select" onchange="this.form.submit()">
            <option value="None" {% if filter_option == 'None' %}selected{% endif %}>None</option>
            <option value="outstanding" {% if filter_option == 'outstanding' %}selected{% endif %}>Groups with outstanding balances</option>
            <option value="owe" {% if filter_option == 'owe' %}selected{% endif %}>Group balances you owe</option>
            <option value="owed" {% if filter_option == 'owed' %}selected{% endif %}>Group balances you are owed</option>
        </select>
    </form>
</div>

    <!-- Overall summary -->
    <p class="fw-bold text-end">Overall, you owe: ₹{{ overall_owe|floatformat:2 }}</p>

    <!-- Groups Table -->
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Remove</th>
                <th>Expenses</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.category }}</td>
                    <td>
                        <form action="{% url 'remove_from_group' group_id=group.id %}" method="POST" onsubmit="return confirm('Are you sure you want to leave this group?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>
                    <td><a href="{% url 'group_details' group_id=group.id %}" class="btn btn-info btn-sm">Details</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="4" class="text-center">No groups yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-grid gap-2 p-4 mt-4">
    <a href="{% url 'create_group' %}" class="btn btn-outline-primary">Create Group</a>
</div>


{% endblock %}